// COLORS
$color-primary: #553fe8;
$color-background: #f2f6fa;

$color-white: #ffffff;
$color-black: #000000;

// FONT
$logo-font-size: 2.5rem;
$default-font-size: 1.6rem;
$heading-font-size: 5rem;
$subheading-font-size: 3rem;
$link-font-size: 2rem;
$other-font-size: 1.5rem;

// // GRID
// $grid-width: 114rem;
// $gutter-vertical: 8rem;
// $gutter-vertical-small: 6rem;
// $gutter-horizontal: 6rem;
