.contact {
    &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      
      &__label {
        margin-top: 1rem;
        font-size: 2rem;
        font-weight: 600;
      }

      &__input {
        margin-top: 1rem;
        font-size: 2rem;
        font-weight: 500;
        font-family: inherit;
        color: inherit;
        padding: 2rem 0;
        width: 40%;
        border-radius: 0.3rem;
        background-color: $color-primary;
        border: none;
        transition: all .3s;
        text-align: center;
        outline: none;

        @include respond(tab-port) {
          width: 80%;
          padding: 2rem 0;
          font-weight: 500;
          font-size: 2rem;
      }

        @include respond(phone) {
            width: 80%;
            padding: 2rem 0;
            font-weight: 500;
            font-size: 2rem;
        }

        &::-webkit-input-placeholder {
            color: $color-white;
            font-weight: 500;
            font-size: 2rem;

          @include respond(phone) {
              padding: 2rem 2rem;
              font-weight: 500;
              font-size: 2rem;
          }
        }
      }

    &__submit {
      margin-top: 2rem;
      font-size: 2rem;
      font-weight: 700;
    }
  }
}

#message {
    padding: 5rem 15rem;
    @include respond(phone) {
        width: 80%;
        padding: 5rem 0rem;
        font-weight: 500;
        font-size: 2rem;
    }
}